@import 'variables';

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1F1F1F;
  font-family: 'Oswald', sans-serif;
}
/* HEADER */
header {
  text-align: center;
  height: 9vw;
}

button:active {
  border: none;
  outline: none;
}

#profile-button {
  background-image: url("../images/profile.png");
  background-position: center;
  background-size: 5.6vw;
  border: none;
  display: inline;
  float: right;
  height: 5.6vw;
  margin-right: 0.5vw;
  margin-top: 1.6vw;
  width: 5.6vw;
}

#user-info-dropdown {
  background-color: #1F1F1F;
  color: white;
  margin-left: 60%;
  margin-top: -1.2%;
  position: relative;
  text-align: center;
  z-index: 100;
}

.dropdown-p {
  font-size: 1.2vw;
  font-weight: 300;
  padding-bottom: 1vw;
  padding-top: 0;
  text-align: center;
  width: 100%;
}
/* TEXT ELEMENTS */
h1 {
  color: #fff;
  display: inline;
  font-size: 5.4vw;
  letter-spacing: 0.2em;
}

h2 {
  font-size: 7vw;
  letter-spacing: 0.1em;
}

h3 {
  display: inline;
  font-family: 'Work Sans', sans-serif;
  font-size: 3vw;
  font-weight: 700;
  letter-spacing: 0.2em;
}

h4 {
  font-size: 6vw;
}

h5 {
  font-size: 1.8vw;
  padding-bottom: 1vw;
  text-align: center;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: 0.2vw;
  margin-right: 1vw;
  padding-top: 2vw;
  text-align: right;
  width: 9vw;
  word-break: keep-all;
}
/* MAIN */
main {
  display: grid;
  grid-template-areas: 'steps hydration' 'stairs sleep';
  height: 100%;
}

.main-card,
.main-card-top-row {
  align-items: center;
  display: flex;
}
.main-card {
  flex-direction: column;
  height: 20vw;
  justify-content: center;
}

.main-card-top-row {
  justify-content: space-between;
  width: 100%;
}

.main-card-bottom-row {
  text-align: center;
  width: 100%;
}

#steps-card-container,
#hydration-card-container,
#stairs-card-container,
#sleep-card-container {
  margin: 0.5vw;
}

// #steps-card-container {
//   background-color: #F5634B;
//   grid-area: steps;
// }
//
// #hydration-card-container {
//   background-color: #54C6BE;
//   grid-area: hydration;
// }
//
// #stairs-card-container {
//   background-color: #8975B2;
//   grid-area: stairs;
// }
//
// #sleep-card-container {
//   background-color: #FBD089;
//   grid-area: sleep;
// }

#steps-card-container {
  background-color: $steps;
  grid-area: steps;
}
#hydration-card-container {
  background-color: $hydration;
  grid-area: hydration;
}
#stairs-card-container {
  background-color: $stairs;
  grid-area: stairs;
}
#sleep-card-container {
  background-color: $sleep;
  grid-area: sleep;
}

.card-data-line,
.hydration-data-line {
  display: flex;
  justify-content: center;
}

.card-data-line {
  margin-bottom: 2vw;
}

.hydration-weekly-label {
  font-size: 1vw;
  padding-top: 1vw;
}

.hydration-weekly-amount {
  font-size: 2vw;
}

.hydration-data-line {
  margin-bottom: 0.2vw;
}

.trend-line {
  font-size: 2vw;
  text-align: center;
  width: 20vw;
}
/* BUTTONS */
.calendar-button,
.friends-button,
.info-button,
.trending-button,
.go-back-button {
  background-position: center;
  background-size: 3.4vw;
  border: none;
  display: inline;
  height: 3.4vw;
  margin-left: 1vw;
  width: 3.4vw;
}

.hydration-go-back-button,
.stairs-go-back-button,
.steps-go-back-button,
.sleep-go-back-button {
  // background-image: url("../images/steps-goback.png");
  @include go-back-image($go-back);
}
.hydration-info-button,
.steps-info-button,
.stairs-info-button,
.steps-info-button,
.sleep-info-button {
  @include info-image($info);
}

.hydration-friends-button,
.steps-friends-button,
.stairs-friends-button,
.steps-friends-button,
.sleep-friends-button {
  @include friends-image($friends);
}

.hydration-calendar-button,
.steps-calendar-button,
.stairs-calendar-button,
.steps-calendar-button,
.sleep-calendar-button {
  @include calendar-image($calendar);
}
.steps-trending-button,
.stairs-trending-button {
  @include trending-image($trending);
}
// .steps-go-back-button {
//   background-image: url("../images/steps-goback.png");
// }
//
// .steps-info-button {
//   background-image: url("../images/steps-info.png");
// }
//
// .steps-friends-button {
//   background-image: url("../images/steps-friends.png");
// }
//
// .steps-calendar-button {
//   background-image: url("../images/steps-calendar.png");
// }
//
// .hydration-go-back-button {
//   background-image: url("../images/hydration-goback.png");
// }
//
// .hydration-info-button {
//   background-image: url("../images/hydration-info.png");
// }
//
// .hydration-friends-button {
//   background-image: url("../images/hydration-friends.png");
// }
//
// .hydration-calendar-button {
//   background-image: url("../images/hydration-calendar.png");
// }
//
// .stairs-go-back-button {
//   background-image: url("../images/stairs-goback.png");
// }
//
// .stairs-info-button {
//   background-image: url("../images/stairs-info.png");
// }
//
// .stairs-friends-button {
//   background-image: url("../images/stairs-friends.png");
// }
//
// .stairs-calendar-button {
//   background-image: url("../images/stairs-calendar.png");
// }
//
// .sleep-go-back-button {
//   background-image: url("../images/sleep-goback.png");
// }
//
// .sleep-info-button {
//   background-image: url("../images/sleep-info.png");
// }
//
// .sleep-friends-button {
//   background-image: url("../images/sleep-friends.png");
// }
//
// .sleep-calendar-button {
//   background-image: url("../images/sleep-calendar.png");
// }
//
// .steps-trending-button {
//   background-image: url("../images/steps-trending.png");
// }
//
// .stairs-trending-button {
//   background-image: url("../images/stairs-trending.png");
// }
/* CHANGING CLASSES */
.hide {
  display: none;
}

.green-text {
  color: green;
}

.red-text {
  color: $red;
}

.yellow-text {
  color: $yellow;
}

///// Input section -------

.switch-field {
  margin: 30px auto;
}

.switch-field input {
  display: none;
  border: 0;
  pointer-events: none;
}

.switch-field label {
  background-color: $h1-color;
  font-size: 16px;
  text-align: center;
  padding: 10px 20px;
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #FBD089;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 6px 0 0 6px;
}

.switch-field label:last-of-type {
  border-radius: 0 6px 6px 0;
}

.activity-toggle {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.input-header {
  padding: 30px;
  font-size: 20px;
  margin: 0 auto;
  color: white;
}

.sleep-input,
.activity-input,
.hydration-input {
  list-style: none;
  width: 500px;
  margin: auto;
  background-color: white;
  padding: 20px;
}

// #sleep-quality {
//   width: 133.98px;
// }

.sleep-input label,
.activity-input label,
.hydration-input label {
  display: inline-block;
}

.sleep-input input,
.activity-input input,
.hydration-input input {
  float: right;
  margin-right: 50px;
  height: 30px;
  width: 130px;
}

.sleep-input li,
.hydration-input li,
.activity-input li {
  margin: 15px 0px;
}

.input-container button {
  padding: 5px 10px;
  cursor: pointer;
  margin: 10px 350px;
}
